@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Suranna&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 50px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.card_item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
}

.card_image {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.price {
    font-size: 25px;
    font-weight: 900;
}

.name_snikers {
    font-size: 18px;
}


@media only screen and (max-width:803px){ 
    .name {
        padding-left: 0;
        text-align: center;
    }

    .card {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .card_item {
        width: 90%;
    }
}